.wj-plant-item-cover {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.wj-plant-item {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
}

.wj-plant-item-price {
  position: absolute;
  border-radius: 20px 20px 20px 0;
  background-color: var(--clr-green);
  color: white;
  padding: 15px;
  right: 0;
  top: 0;
  font-weight: 500;
}

.care {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.legende {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
}
