#wj-shopping-list {
  width: 100%;
}

#wj-shopping-list h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.wj-plant-list {
  list-style-type: none;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
