#wj-shopping-list {
  width: 100%;
}

#wj-shopping-list h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.wj-plant-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wj-plant-list-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wj-plant-list-card img {
  max-width: 50%;
}

.filter {
  padding: 0 100px;
}

.plantadd_input.select {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
}
